.item-post {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-post-bg {
    background-color: rgba(0, 0, 0, 0.818);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.item-post-content {
    position: relative;
    max-width: 1200px;
    background-color: black;
}

.item-post-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;
}

.item-post-content h4 {
    color: aliceblue;
    text-align: center;
}